*{
    margin: 0;
    padding: 0;
}
body{
background-color: rgb(169,222,235);
background: linear-gradient(90deg, rgba(250,219,141,1) 0%, rgba(253,215,188,1) 50%, rgba(245,168,32,1) 100%);
/* Check out this link for gradient: https://cssgradient.io/ */
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(169,222,235,1) 100%);
}

.header ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-right: 1em;
    font-size: 1.1em;
}

.header ul li{
    margin: 0 2em;
    
}

.header ul li.faq{
    border: 0.1em solid #c8262f;
    border-radius: 20px;
    padding: 0.5em 1.5em;
}

.logo{
    width: 4em;
}

.info{
    display: flex;
}

.gif{
    width: 40%;
    height: 40%;
}

.faqSection{
    width: 60%;
    margin: 5em 10em;
}

details summary{
    cursor: pointer;
    background-color: aquamarine;
    padding: 10px;
    font-weight: bold;
    transition: background-color 0.4s ease;
}

details{
    margin: 2em 0em;
    padding: 1em;
    border: 1px solid #c8262f;
    font-size: 1.2em;
}

details[open] summary{
    background-color: pink;
    margin-bottom: 1em;
}

details[open] p{
    padding: 1em 2em;
    background-color: rgb(146, 186, 227);
}